      <div id="post-{{ post.ID }}" class="post-{{ post.ID }} stub{{ post.pinned ? ' fm-pinned' }}" data-id="{{ post.ID }}">

        <a href="#" title="Pin this post" class="pin-unpin stub-action dashicons dashicons-admin-post"></a>

        <a href="#" title="Remove this post from the feed" class="remove stub-action dashicons dashicons-no"></a>

        <div class="stub-details">
          {% if post.thumbnail and post.thumbnail.src %}
            <img src="{{ post.thumbnail.src|resize(72, 72) }}" class="post-thumb" alt=""/>
          {% endif %}

          <a class="stub-title row-title" href="{{ post.edit_link }}" title="Edit Post" target="_blank">{{ post.title }}</a>

          <div class="post-meta">
            <abbr title="{{ post.post_date }}" class="date">
              {{ function('human_time_diff', function('strtotime', post.post_date)) }} ago
            </abbr>

            <span class="row-actions">
              &nbsp; <a href="{{ post.edit_link }}" title="Edit Post" class="edit" target="_blank">Edit</a>

              &nbsp; <a href="{{ post.link }}" title="View Post" rel="permalink" class="view" target="_blank">View</a>
            </span>
          </div>
        </div>

        <!-- Hidden Fields -->
        <span class="hidden">
          <input id="fm-sort-{{ post.ID }}" type="hidden" name="fm_sort[]" value="{{ post.ID }}">
          <input id="fm-pin-{{ post.ID }}"  class="fm-pin-checkbox" type="checkbox" name="fm_pin[{{ post.ID }}]" {{ post.pinned ? 'checked="checked"' }}>
        </span>
      </div>
