      <tr id="post-{{ post.ID }}" class="post-{{ post.ID }} hentry stub{{ post.pinned ? ' fm-pinned' }}" data-id="{{ post.ID }}">

        <td class="post-title page-title column-title">
          <strong><a class="row-title" href="{{ post.edit_link }}" title="Edit Post">{{ post.title }}</a></strong>

          <div class="row-actions">
            <span class="pin-unpin">
              {% if post.pinned %}
                <a href="#" title="Unpin this item">Unpin</a> | 
              {% else %}
                <a href="#" title="Pin this item">Pin</a> | 
              {% endif %}
            </span>

            <span class="edit">
              <a href="{{ post.edit_link }}" title="Edit this item">Edit</a> | 
            </span>

            <span class="view">
              <a href="{{ post.link }}" title="View Post" rel="permalink">View</a>
            </span>


            <!-- Hidden Fields -->
            <span class="hidden">
              <input id="fm-sort-{{ post.ID }}" type="hidden" name="fm_sort[]" value="{{ post.ID }}">
              <input id="fm-pin-{{ post.ID }}"  class="fm-pin-checkbox" type="checkbox" name="fm_pin[{{ post.ID }}]" {{ post.pinned ? 'checked="checked"' }}>
              <input id="fm-reorder-{{ post.ID }}"  class="fm-reorder-checkbox" type="checkbox" name="fm_reorder[{{ post.ID }}]" {{ post.reordered ? 'checked="checked"' }}>
              <input id="fm-hide-{{ post.ID }}" class="fm-hide-checkbox" type="checkbox" name="fm_hide[{{ post.ID }}]" {{ post.hidden ? 'checked="checked"' }}>
            </span>
          </div>

        </td>

        <td class="date column-rel-date"><abbr title="{{ post.post_date }}">{{ function('human_time_diff', function('strtotime', post.post_date)) }} ago</abbr></td>

        <td class="post-thumbnail column-thumbnail">
          <img src="{{ post.thumbnail.src|resize(144) }}" class="post-thumb" alt=""/>
        </td>

      </tr>
