
      <tr id="post-{{ post.ID }}" class="post-{{ post.ID }} hentry stub{{ i is divisibleby(2) ? ' alternate' }}{{ post.pinned ? ' pinned' }}">
        <th scope="row" class="check-column">
          <label class="screen-reader-text" for="cb-select-{{ post.ID }}">Select {{ post.title }}</label>
          <input id="cb-select-{{ post.ID }}" type="checkbox" name="post[]" value="{{ post.ID }}">
        </th>

        <td class="post-title page-title column-title">
          <strong><a class="row-title" href="{{ post.edit_link }}" title="Edit Post">{{ post.title }} {{ post.pinned ? '(pinned)' }}</a></strong>

          <div class="row-actions">
            {% if post.pinned %}
              <span class="pin-unpin unpin">
                <a href="#" title="Unpin this item">Unpin</a> | 
              </span>
            {% else %}
              <span class="pin-unpin pin">
                <a href="#" title="Pin this item">Pin</a> | 
              </span>
            {% endif %}

            <span class="hide">
              <a href="#" title="Hide this item from the feed">Hide</a> | 
            </span>

            <span class="edit">
              <a href="{{ post.edit_link }}" title="Edit this item">Edit</a> | 
            </span>

            <span class="view">
              <a href="{{ post.url }}" title="View Post" rel="permalink">View</a>
            </span>
          </div>

        </td>

        <td class="date column-date"><abbr title="{{ post.post_date }}">{{ function('human_time_diff', function('strtotime', post.post_date)) }} ago</abbr></td>

      </tr>